.button {
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  padding: 7px 12px;
  border-radius: 6px;
  transition: scale 200ms;
  display: grid;
  place-items: center;

  &:disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}
