.backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15000;
  
  &.maximized {
    align-items: flex-end;
  }
}

.modal {
  background-color: rgb(24, 24, 24);
  padding: 50px;
  border-radius: 10px;

  &.maximized {
    width: 100%;
    height: 95%;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}


.controls {
  display: flex;
  gap: 10px;
  width: fit-content;
  margin-left: auto;

  .controlBtn {
    height: 36px;
    width: 36px;
  }
}
