.indicator {
  height: 50px;
  width: 50px;
  background-color: seagreen;
  border-radius: 50%;

  margin: 0 auto 15px auto;

  &.enter {
    animation: appear 600ms forwards;
  }

  &.exit {
    animation: appear 600ms forwards reverse ease-in;
  }

  @keyframes appear {
    from {
      opacity: 0;
      transform: scale(0.5);
    }
    to {
      opacity: 1;
      transform: scale(1);
    }
  }
}

.button {
  &.enter {
    animation: fade 300ms forwards;
  }

  &.exit {
    animation: fade 300ms forwards reverse ease-in;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
