.snapshotWrapper {
  position: relative;
}

.snapshotContainer {
  display: flex;
  position: absolute;
}

.snapshotContainer.top {
  top: 0;
}

.snapshotContainer.right {
  right: 0;
}

.snapshotContainer.bottom {
  bottom: 0;
}

.snapshotContainer.left {
  left: 0;
}

.snapshotContainer > * {
  flex: 1;
}
