.container {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  width: 350px;
}

.list {
  display: flex;
  gap: 10px;
  background-color: rgb(40, 40, 40);
  padding: 15px;
  border-radius: 10px;
}
