.wrapper {
  max-height: 350px;
  width: 300px;
  overflow: auto;
  padding-right: 5px;
  scrollbar-width: thin;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;

  .cell {
    display: grid;
    place-items: center;
    height: 25px;
    width: 100%;
    background-color: green;
  }
}
