@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
  color-scheme: dark;
  font-family: 'Roboto', sans-serif;
}

:root {
  background-color: #121212;
}

#root {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding-block: 50px;
}
